
body {
	background-image: url('images/mouth.png');
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Rock Salt', cursive;
}

header{
	font-size: 500%;
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

div{
	margin-top: 13%;
	text-align: center;
}

.button, .button2 {
	background-color: #FFF;
	cursor: pointer;
	box-shadow: 2px #F2F2F2;
}