
body {
	background-image: url(img/mouth.png);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
}

header{
	font-size: 500%;
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

div{
	margin-top: 13%;
	text-align: center;
}




